
<div class="page-header">
  <h3>Add Fiduciary</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_fiduciary" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for fiduciary_name -->
      <div class="form-group">
        <label for="fiduciary_name" class="control-label">
          Fiduciary name
        </label>

        <input type="text" id="fiduciary_name" name="fiduciary_name" placeholder="Fiduciary name" class="form-control" value="<%= @fiduciary.fiduciary_name %>">
      </div>

      <!-- Label and input for fiduciary_address -->
      <div class="form-group">
        <label for="fiduciary_address" class="control-label">
          Fiduciary address
        </label>

        <input type="text" id="fiduciary_address" name="fiduciary_address" placeholder="Fiduciary address" class="form-control" value="<%= @fiduciary.fiduciary_address %>">
      </div>

      <!-- Label and input for matter_id -->
      <div class="form-group">
        <label for="matter_id" class="control-label">
          Matter
        </label>

        <input type="hidden" id="matter_id" name="matter_id" placeholder="Matter" class="form-control" value="<%= @matter.id %>">
      </div>

      <button class="btn btn-success">
        Create Fiduciary
      </button>
      or
      <a href="/fiduciaries">Cancel</a>
    </form>
  </div>
</div>
