<!-- Validation failure messages -->
<% if @matter_doc.errors.any? %>
  <% @matter_doc.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Matter Doc</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_matter_doc" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for document -->
      <div class="form-group">
        <label for="document" class="control-label">
          Document
        </label>

        <input type="file" id="document" name="document" class="form-control">
      </div>

      <!-- Label and input for document_type -->
      <div class="form-group">
        <label for="document_type" class="control-label">
          Document type
        </label>

        <input type="text" id="document_type" name="document_type" placeholder="Document type" class="form-control" value="<%= @matter_doc.document_type %>">
      </div>

      <!-- Label and input for matter_id -->
      <div class="form-group">

        <input type="hidden" id="matter_id" name="matter_id" placeholder="Matter" class="form-control" value="<%= @matter.id %>">
      </div>

      <button class="btn btn-success">
        Create Matter Doc
      </button>
      or
      <a href="/matter_docs">Cancel</a>
    </form>
  </div>
</div>
